<p-panel header="Piepes No muy Comunes" class="p-1">
  <h1><td> Pipes Basicos</h1>
  <p>Usualmente incluidos en el Common Module</p>
</p-panel>

  <div class="grid mt-2" >
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
        <p>
          Saludos {{name}} es un place {{gender | i18nSelect : invitationMap}} a nuestro evento.
        </p>
        <p-button
          (click)="changeClient()"
          label="Cambiar persona">
        </p-button>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
        <p>
          Actualmente {{clients.length | i18nPlural:clientsMap}} clientes esperando
        </p>
        <p-button (click)="deleteClient()" label="Atender"></p-button>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="Slice Pipe" [toggleable]="true">
        <p>Original</p>
        <pre>{{clients}}</pre>
        <p>Slice 0:2 </p>
        <pre>{{clients | slice:0:2}}</pre>
        <p>Slice 1:2 </p>
        <pre>{{clients | slice:1:2}}</pre>
        <p>Slice 1:-3 </p>
        <pre>{{clients | slice:1:-3}}</pre>

      </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="Json Pipe" [toggleable]="true">
       <pre> {{person | json}}</pre>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
          <ul>
            <li *ngFor="let item of person | keyvalue" >
              <b>{{item.key | titlecase}}</b> {{item.value}}

            </li>
          </ul>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-fieldset legend="Async Pipe" [toggleable]="true">
         <p>Observable  {{myObservableTimer | async}} </p>
         <p>Promesa </p>
          <pre>{{promiseValue | async}}</pre>
      </p-fieldset>
    </div>


  </div>
